<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Patient Scheduler{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>

<header class="topbar">
    <h1>Patient Scheduler</h1>

    <nav class="main-nav">
    <a href="{% url 'dashboard' %}" class="nav-btn">Dashboard</a>
    <a href="{% url 'book' %}" class="nav-btn">Book Appointment</a>
    <a href="{% url 'my_appointments' %}" class="nav-btn">My Appointments</a>
    <a href="{% url 'provider_appointments' %}" class="nav-btn">Provider View</a>


    <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</nav>

</header>


<main class="container">
    {% if messages %}
        {% for m in messages %}
            <p style="color:{% if m.level_tag == 'error' %}red{% else %}green{% endif %};">
                {{ m }}
            </p>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</main>


<footer class="footer">
    © 2025 Patient Scheduler
</footer>

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    flatpickr(".datetime-input", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        minuteIncrement: 15,
        allowInput: true,
        time_24hr: false
    });
});
</script>

</body>
</html>



